.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.search-area { 
  display: flex;
  margin-top: 8px; 
}
.search-area button {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
}
.mobile-menu-toggle {
  display: none;
  font-size: 30px;
}
.search-icon {
  font-size: 30px;
  margin-right: 10px;
}
.menu-area {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}
.menu-area button {
  border: none;
  background: none;
  margin: 5px;
  padding: 1px 6px;
}
.menu-area button:hover {
  background-color: beige;
  border-radius: 3px;
}
.news {
  border-bottom: 2px solid black;
}
.news-img-size {
  max-width: 100%;
}
.d-none {
 width: 50px;
}
.error-icon {
  width: 50px;
}
.pagination-area {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#page-num-area {
  display: flex;
}
.hidden-search{
  display: none;
}

@media (max-width: 575px) {
  .mobile-menu-toggle {
    display: block;
    margin-right: 10px;
  }
  .menu-area {
    position: fixed;
    margin: 0;
    top: 0;
    left: -100%;
    height: 100%;
    background-color: #333;
    width: 80vw;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    transition: 0.5s;
  }
  .mobile-menu-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px
  }
  .menu-area button:hover {
    background-color: none;
    color: #fff;
  }
}